:global(.theme-toggle) {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 0;
}

// :global(.theme-toggle):checked .taskApp ~ .header {
//   [class*='thumb_'] {
//     transform: translateX(1.8rem);
//   }
// }

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: #eef0f5;
    margin: 0;
  }
}
